Package: com.uroboro.notificationexplorer.server
Name: NEServer
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Daemon server for NotificationExplorer (Obj-C)
Maintainer: uroboro<uroboro.845@gmail.com>
Author: uroboro<uroboro.845@gmail.com>
Section: System
Tag: role::hacker
